* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
}

.page-loader {
  position: fixed;
  inset: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top: 4px solid black;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
}

.logo-img img {
	width: 300px;
}

.nav-links {
	display: flex;
	gap: 40px;
	align-items: center;
}

.nav-links a {
	color: black;
	text-decoration: none;
	font-weight: 600;
}

.nav-links a:hover {
	text-decoration: underline;
}

.cart {
	position: relative;
}

.cart i {
	font-size: 25px;
}

.cart-number {
  background: black;
  color: white;
  border-radius: 50%;
  padding: 8px 12px;
  font-size: 14px;
  position: absolute;
  right: -18px;
  top: -22px;
  text-align: center;
}

/**------------------------------------------------Header------------------------------------------------------**/

.hero {
  min-height: calc(100vh - 130px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 40px;
  gap: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero h1 {
	text-transform: uppercase;
	font-size: 66px;
	max-width: 700px;
	margin-bottom: 30px;
	font-weight: 800;
}

.hero a {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	background: black;
	padding: 14px 30px;
	border: none;
}

.hero a:hover {
	background: white;
	color: black;
	transition: 0.5s ease-out;
}

.category-container {
	margin: 60px 0;
}

.category-container h3 {
	text-align: center;
	font-size: 66px;
	font-weight: 600;
	padding: 50px 0;
	text-transform: uppercase;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin: 0 10%;
}

.category-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  height: 420px;
}

.category-card img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.layer p {
  font-size: 30px;
  color: white;
  margin: 10px 0;
  text-transform: uppercase;
}

.layer a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: black;
  padding: 12px 25px;
  border: none;
}

.layer a:hover {
	background: white;
	color: black;
	transition: 0.5s ease-out;
}

/**--------------------------------------------------Hotdeals---------------------------------------------------**/

.hot-deals {
	padding: 40px 0 80px;
	margin-top: 100px;
}

.hot-deals h4 {
	text-align: center;
	font-size: 66px;
	font-weight: 600;
	padding: 50px 0;
	text-transform: uppercase;
}

.hot-deals-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 10% 160px;
}

.hot-deals-card img {
	width: 100%;
	height: 300px;
  object-fit: cover;
}

.hot-deals-card {
	display: flex;
	flex-direction: column;
	gap: 15px;
	border: 0.5px solid black;
	border-radius: 4px;
	padding: 10px;
	text-transform: uppercase;
}





/**--------------------------------------------------Banner---------------------------------------------------**/


.banner2 {
  background: url("./images/banner2.jpeg") center/cover no-repeat;
  background-attachment: fixed;
  min-height: calc(100vh - 250px);
  margin: 50px 40px;
  position: relative;
  overflow: hidden;
  background-color: #f6f7f9;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 0;
}

.banner-text {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  padding: 50px 0 0 50px;
}

.banner-text h3{
	color: white;
	font-size: 30px;
	font-weight: 300;
}

.banner-text h1 {
	color: white;
	font-size: 40px;
}

.banner-text p {
	color: white;
	font-size: 20px;
	font-weight: 300;
}

.banner-text a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	background: white;
	padding: 14px 30px;
	border: none;
}

.banner-text a:hover {
	background: black;
	color: white;
	transition: 0.5s ease-out;
}


.what-we-offer {
	display: flex;
	gap: 30px;
	margin: 100px 60px 40px;
	justify-content: center;
}

.what-we-offer-grid {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	text-align: center;
	max-width: 260px;

}

.what-we-offer-grid img {
	width: 52px;
}

.what-we-offer-grid h4 {
	font-size: 18px;
	text-transform: none;
	padding: 0;
}

.what-we-offer-grid p {
	font-size: 16px;
	font-weight: 300;
}


/**--------------------------------------------------Footer---------------------------------------------------**/
.footer1 {
	display: flex;
	justify-content: space-between;
	margin: 20px 40px;
}

.footer-link {
	margin: 10px 10px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.footer-link ul {
	display: flex;
	gap: 30px;
	list-style: none;
}

.footer-link ul li {
	list-style: none;
}

.footer-link ul a {
	color: black;
	text-decoration: none;
}

.footer-link ul i {
	font-size: 30px;
	border: 0.5px solid black;
	padding: 10px;
	cursor: pointer;
}

.copyright {
	display: flex;
	justify-content: space-between;
	margin: 20px 70px;
	justify-content: center;
	gap: 40px;
}

/**--------------------------------------------------Products---------------------------------------------------**/

.pro-and-cat {
	display: flex;
	padding: 30px 2%;
	background-color: #f6f7f9;
	gap: 20px;
}

aside {
	flex-basis: 18%;
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 0 30px 0 0;
}

aside h3 {
	font-size: 25px;
}

.category-toggle i {
	display: none;
	font-size: 16px;
}

.toggle-arrow {
  transition: transform 0.3s ease;
}

.toggle-arrow.rotate {
  transform: rotate(90deg);
}


aside ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-size: 20px;
	font-weight: 300;
}

aside ul li {
  list-style: none;
}

aside ul li a {
  color: black;
  text-decoration: none;
  background: white;
  padding: 10px;
  display: block;
}

aside ul li a:hover {
  color: white;
  background: black;
  transition: 0.5s ease-out;
}

.category-link.active {
  font-weight: bold;
  color: white;
  background: black;
}

main {
	background: white;
	flex-basis: 80%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	padding: 30px 20px;
}

main a {
	color: black;
	text-decoration: none;
}

#product-breadcrumb {
	text-transform: uppercase;
}

.products-grid {
	 display: grid;
	 grid-template-columns: repeat(3, 1fr);
	 gap: 20px;
}

.products-card {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 0.3px solid black;
	border-radius: 5px;
}

.products-card img {
	width: 100%;
	height: 300px;
	display: block;
	object-fit: contain;
	border-radius: 5px;
}

.product-price {
  	font-size: 14px;
  	font-weight: 300;
  	padding: 0 10px 10px;
}

.product-name {
		font-size: 16px;
  	font-weight: 600;
  	padding: 0 10px 10px;
  	text-transform: uppercase;
}

.add-cart-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.add-cart-container button.add-to-cart-btn {
  font-size: 20px;
  background: black;
  color: white;
  padding: 4px 7px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.add-cart-container button.add-to-cart-btn:hover {
  background: #f6f7f9;
  color: black;
  transition: 0.3s ease-out;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.pagination-container button {
  background: #f1f1f1;
  border: none;
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-container button.active {
  background: #000;
  color: #fff;
}



/**--------------------------------------------------Product-page---------------------------------------------------**/

.product-page-container {
  padding: 30px 5%;
  background: #f6f7f9;
  gap: 50px;
  display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-around;
}

.product-page-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

#product-image {
  width: 100%;
  max-width: 400px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 10px;
}

.thumbnail-gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.thumbnail-gallery img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 6px;
  transition: border 0.3s ease;
}

.thumbnail-gallery img.active {
  border-color: #000;
}

.product-page-details {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product-page-details h3 {
  font-size: 63px;
  font-weight: 600;
  text-transform: uppercase;
}

.product-page-details a {
  color: black;
  text-decoration: none;
}

.size {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.size ul {
  display: flex;
  gap: 20px;
  padding: 0;
}

.size ul li {
  list-style: none;
}

.size ul a {
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  border: 2px solid transparent;
  color: black;
}

.size ul a.active,
.size ul a:hover {
  border: 2px solid black;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity-flex {
  display: flex;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 10px 18px;
  width: 130px;
  justify-content: space-between;
}

.quantity-flex span {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.add-to-cart button {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  background: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.add-to-cart button:hover {
  background: white;
  color: black;
}

/**--------------------------------------------------Cart---------------------------------------------------**/

.cart-section {
	padding: 50px 5% 70px;
	background:  #f6f7f9;
}

.cart-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-header h1 {
	font-size: 60px;
	font-weight: 600;
}

.cart-header a {
	text-decoration: none;
	color: black;
}

#cart-container p {
	margin: 0 10%;
}

.cart-header a:hover {
	text-decoration: underline;
}

.cart-label {
	display: grid;
	grid-template-columns:  2fr 1fr;
	justify-content: space-between;
	margin: 30px 5%;
	align-items: center;
}

.productandquantitylabel {
	display: flex;
	justify-content: space-between;
}

.cart-group {
  display: flex;
  flex-direction: column;
}

.container-2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  align-items: flex-start;
  margin: 30px 5%;
  justify-content: space-between;
}

.productandquantity {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 20px;
}

.cart-item {
  display: flex;
  gap: 20px;
}

.quantity-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-img {
  width: 100px;
  height: 130px;
  border: 0.5px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cart-details {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.cart-details p {
  margin: 4px 0;
}

.cart-item-title {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
}

.quantity-flex {
  display: flex;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 10px 18px;
  width: 130px;
  justify-content: space-between;
  align-items: center;
}

.quantity-flex span {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.align-right {
  text-align: right;
}

.fa-trash {
  cursor: pointer;
  font-size: 18px;
}

.subtotal-sec {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 300px;
	margin-top: 100px;
}


.subtotal-amount {
	display: flex;
	gap: 10px;
}

.checkout-button {
	text-decoration: none;
	font-size: 16px;
	color: white;
	background: black;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
}

.toast {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #222;
  color: #fff;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  pointer-events: auto;
}


/**--------------------------------------------------Checkout---------------------------------------------------**/

.checkout-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  overflow: hidden;
  gap: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0 5%;
}

.checkoutform,
.checkoutsummary {
  padding: 40px;
  overflow-y: auto;
  height: 100%;
}

.checkoutform {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #fff;
}

.checkout-form-section h2,
.checkoutsummary h2 {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.checkout-form-section h2 {
	margin-top: 20px;
}

.checkoutform label {
  font-weight: 600;
  margin-top: 10px;
}

.checkoutform input,
.checkoutform select {
  height: 45px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.checkoutsummary  {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
}

.checkoutsummary img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.checkout-item  {
  display: flex;
  gap: 20px;
  font-size: 14px;
  padding: 0 10px;
  text-transform: uppercase;
}

.checkout-item p{
	font-weight: 300;
	padding-bottom: 5px;
}

.checkoutsummary .details p {
  margin: 4px 0;
  font-size: 15px;
}

.total-display {
  font-weight: bold;
  font-size: 18px;
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.checkoutform button {
  font-size: 16px;
  color: white;
  background: black;
  padding: 12px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.checkoutform button:hover {
  background: #333;
}



















































































@media only screen and (max-width :1000px) {
		.products-grid {
		 grid-template-columns: repeat(2, 1fr);
		 padding: 0 10px;
	}
}





@media only screen and (max-width :800px) {
	.hot-deals-container {
		grid-template-columns: repeat(3, 1fr);
	}

	main {
		padding: 30px 50px;
	}
}

@media (min-width: 769px) {
  .category-toggle i {
    display: none;
  }

  #category-filter {
    display: flex !important;
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .category-toggle i {
    display: inline-block;
    cursor: pointer;
  }

  #category-filter {
    display: none;
  }

  #category-filter.show {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  	.pro-and-cat {
			flex-direction: column;
		}
}

@media only screen and (max-width :725px) {
	.checkout-btns {
		flex-direction: column;
	}
}

@media only screen and (max-width :700px) {
	.productandquantity {
		flex-direction: column;
	}

	.align-left-quantity {
		display: none;
	}
}

@media only screen and (max-width :612px) {
	.checkout-grid {
		grid-template-columns: 1fr;
	}

	.checkout-form,
	.checkout-summary {
	 height: 100%;
	}

	.checkout-form input,
	.checkout-form select {
		height: 40px;
	}
}

@media only screen and (max-width :600px) {


	main {
		padding: 15px 5px;
	}

	.product-page-container {
		grid-template-columns: 1fr;
	}

	.L {
		order: 2;
	}

	.R {
		order: 1;
	}

	.product-page-details h3 {
	  font-size: 33px;
	}
}


@media only screen and (max-width :599px) {

	.logo-img img {
		width: 250px;
	}

	nav {
		padding: 30px 20px;
	}

	.nav-links {
		gap: 20px;
	}

	.category-container h3 {
		font-size: 35px;
		padding: 30px 0;
	}

	.category-card {
	  height: 380px;
	}

	.layer p {
	  font-size: 24px;
	}

	.layer a {
	 	padding: 8px 14px;
	 	font-size: 16px;
	}

	.logo-img img {
		width: 200px;
	}

	.hero {
	  min-height: calc(100vh - 230px);
	}

	.hero h1 {
		font-size: 35px;
		max-width: 700px;
	}

	.hot-deals-container {
		grid-template-columns: repeat(2, 1fr);
		margin: 0 5% 80px;
		gap: 15px;
	}

	.hot-deals h4 {
		font-size: 35px;
		padding: 20px 0;
	}

	.hot-deals-card img {
		height: 150px;
	}

	.hot-deals {
		padding: 20px 0 20px;
	}

	.category-grid {
	 	grid-template-columns: 1fr;
	}

	.footer1 {
		flex-direction: column;
	}

	.what-we-offer {
		flex-direction: column;
		align-items: center;
	}

	.what-we-offer-grid h4 {
		padding: 0;
	}

	.what-we-offer-grid img {
		width: 52px;
	}

	.what-we-offer-grid p {
		font-size: 16px;
		font-weight: 300;
	}

	.banner-text {
		text-align: center;
		padding: 50px 0;
	}

	.banner-text h3{
		font-size: 24px;
	}

	.banner-text h1 {
		font-size: 24px;
	}

	.banner-text p {
		font-size: 16px;
	}

	.banner-text a {
		padding: 10px 15px;
	}

	.category-container {
		margin: 0 5%;
		padding: 0;
	}

	.category-grid {
	 	margin: 0 5%;
	}

	.pro-and-cat {
		flex-direction: column;
	}

	aside {
		padding: 0;
	}

	aside ul {
		display: none;
		font-size: 16px;
	}

	aside h3 {
		font-size: 25px;
		font-weight: 800;
		padding: 0 0 0 10px;
	}

	.products-grid {
		gap: 10px;
	}

	.products-card img {
		height: 180px;
		object-fit: cover;
	}

	.product-price {
  	font-size: 12px;
  	padding: 0 10px 7px;
	}

	.product-name {
		font-size: 14px;
  	padding: 0 10px 7px;
	}

	.cart-header h1 {
		font-size: 30px;
	}

	.cart-img img {
	  width: 80px;
	  height: 90px;
	  object-fit: cover;
	}

	.cart-img {
	  width: 120px;
	  height: 120px;
	}

	.cart-item {
		gap: 10px;
	}

	.cart-item-title {
		font-size: 14px;
	}

	.cart-details {
		font-size: 14px;
		gap: 8px;
	}



	.checkout-layout {
	  grid-template-columns: 1fr;
	}

	.checkoutsummary  {
		border: none;
		margin-top: 10px;
		padding: 15px 10px;
	}

	.leftt {
		order: 2;
	}

	.rightt {
		order: 1;
	}

	.checkoutform {
	  padding: 15px 10px;
	  gap: 10px;
	}

	.checkoutform input,
	.checkoutform select {
	  height: 40px;
	}

	.checkoutform label {
	  margin-top: 0;
	  font-weight: 300;
	}

	.checkoutsummary h2 {
	  margin-bottom: 15px;
	}

	.checkout-form-section h2,
	.checkoutsummary h2 {
	  font-size: 20px;
	  text-transform: uppercase;
	}

	.checkout-form-section h2 {
		 margin-bottom: 0;
	}
}






